body {
}
h1 {
    text-align: center;
    color: #047e1a;
    font-weight: 500;
}
.container-form {
   margin: 2% 10% 5% 10%; 
}
.form-form{
    width: 50%;
    display:block;
    overflow:auto;
    margin: 0 auto;
    padding: 5%;
}
.title-form{
    font-size:20px;
}
.select-form {
    font-size: 18px;
    width: 100%;
    height: calc(2.25rem + 2px);
    margin: 0 0 2% 0;
    border: 1px solid #ced4da;
    padding: .375rem .75rem;
}
.btn-form {
    width: 100%;
}

@media screen and (max-width: 850px) {
    h1 {
        font-size: 30px;
    }
    .form-form {
        width: 100%;
    }
}