
@{
    ViewBag.Title = "เพิ่มผู้ดูแลนักเรียน";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script src="~/wwwroot/app/services/adminService.js"></script>
<script src="~/wwwroot/app/controllers/adminController.js"></script>

<head>
    <link rel="stylesheet" href="~/wwwroot/css/Register.css" />
</head>
<body>

    <div ng-controller="adminController">
        <h1>เพิ่มผู้ดูแลนักเรียน</h1>

        <div class="container-reg">
            <div class="row">
                <div class="column">
                    <h3>ข้อมูลผู้ดูแลนักเรียน</h3>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-default btn-file">
                                    Browse… <input type="file" ng-model="register.image" id="imgInp">
                                </span>
                            </span>
                            <input type="text" class="form-control" readonly>
                        </div>
                        <img id='img-upload' />
                    </div>
                    <label for="id">เลขบัตรประชาชน</label>
                    <input type="text" class="form-control" name="id" id="id" ng-model="register.id" />
                    <button type="button" class="btn btn-dark btn-block" onclick="Login">ค้นหา</button>

                </div>
                <div class="column">
                    <label for="prefix">คำนำหน้า</label>
                    <select id="prefix" name="prefix" class="select-reg" ng-model="register.prefix">
                        <option value="mr">นาย</option>
                        <option value="mrs">นาง</option>
                        <option value="miss">นางสาว</option>
                    </select>
                    <label for="firstname">ชื่อ</label>
                    <input type="text" class="form-control" name="firstname" id="firstname" ng-model="register.firstname" />
                    <label for="lastname">นามสกุล</label>
                    <input type="text" class="form-control" name="lastname" id="lastname" ng-model="register.lastname"/>
                    <label for="phone">เบอร์</label>
                    <input type="text" class="form-control" name="phone" id="phone" ng-model="register.phone"/>
                    <label for="email">อีเมล</label>
                    <input type="text" class="form-control" name="email" id="email" ng-model="register.email"/>
                </div>
                <div class="column">
                    <label for="address">บ้านเลขที่</label>
                    <input type="text" class="form-control" name="address" id="address" ng-model="register.address"/>
                    <label for="subdistrict">ตำบล/แขวง</label>
                    <input type="text" class="form-control" name="subdistrict" id="subdistrict" ng-model="register.subdistrict" />
                    <label for="district">อำเภอ/เขต</label>
                    <input type="text" class="form-control" name="district" id="district" ng-model="register.district"/>
                    <label for="province">จังหวัด</label>
                    <input type="text" class="form-control" name="province" id="province" ng-model="register.province"/>
                    <label for="zipcode">รหัสไปรษณีย์</label>
                    <input type="text" class="form-control" name="zipcode" id="zipcode" ng-model="register.zipcode"/>
                </div>
                <div class="column">
                    <label for="hire_date">วันเข้าทำงาน</label>
                    <input type="date" class="form-control" name="hire_date" id="hire_date" ng-model="register.hire_date"/>
                    <label for="end_date">วันออกจากงาน</label>
                    <input type="date" class="form-control" name="end_date" id="end_date" ng-model="register.end_date"/>
                    <button type="button" class="btn btn-success btn-block" ng-click="GetInput()">ยืนยัน</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $(document).on('change', '.btn-file :file', function () {
                var input = $(this),
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [label]);
            });

            $('.btn-file :file').on('fileselect', function (event, label) {

                var input = $(this).parents('.input-group').find(':text'),
                    log = label;

                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }

            });
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#img-upload').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#imgInp").change(function () {
                readURL(this);
            });
        });
    </script>
</body>

