
@{
    ViewBag.Title = "SignIn";
}

<script src="~/wwwroot/app/services/authenService.js"></script>
<script src="~/wwwroot/app/controllers/authenController.js"></script>

<div ng-controller="authenController">


</div>