
@{
    ViewBag.Title = "นักเรียนวันนี้";
    Layout = "~/Views/Shared/_LayoutChecker.cshtml";
}
<head>
    <link href="~/wwwroot/css/Check.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="container-table">
        <h1>นักเรียนวันนี้</h1>
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th>ชื่อ</th>
                    <th>สกุล</th>
                    <th>ชื่อเล่น</th>
                    <th>รอบเช้า</th>
                    <th>รอบเย็น</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>สหรัฐ</td>
                    <td>สุดเจริญ</td>
                    <td>มิกกี้</td>
                    <td>
                        <i class="material-icons icon-green" style="font-size:20px">brightness_1</i>
                    </td>
                    <td>
                        <i class="material-icons icon-red" style="font-size:20px">brightness_1</i>
                    </td>
                </tr>
                <tr>
                    <td>ศิราณี</td>
                    <td>ลุนพุฒ</td>
                    <td>ต้า</td>
                    <td>
                        <i class="Small material-icons icon-red" style="font-size:20px">brightness_1</i>
                    </td>
                    <td>
                        <i class="Small material-icons icon-red" style="font-size:20px">brightness_1</i>
                    </td>
                </tr>
                <tr>
                    <td>รวม</td>
                    <td></td>
                    <td></td>
                    <td>xx</td>
                    <td>xx</td>
                </tr>

            </tbody>
        </table>
    </div>
</body>


