
@{
    ViewBag.Title = "ประวัติการรับส่ง";
    Layout = "~/Views/Shared/_LayoutParent.cshtml";
}

<head>
    <link rel="stylesheet" href="~/wwwroot/css/Form.css" />
</head>

<body>
    <div class="container-form">
        <h1>ประวัติการรับส่ง</h1>
        <div class="form-form">
            <div class="row">
                <a class="title-form" >ตั้งแต่วันที่</a>
                <input type="date" class="form-control" id="start-date" />
            </div>
            <br />
            <div class="row">
                <a class="title-form">ถึงวันที่</a>
                <input type="date" class="form-control" id="start-date" />
            </div>
            <br />
            <div class="row">
                <button class="btn btn-success btn-form" id="confirm-form">ยืนยัน</button>
            </div>
        </div>
    </div>
    
</body>


