@{
    ViewBag.Title = "หน้าแรก";
    Layout = "~/Views/Shared/_LayoutParent.cshtml";
}


<head>
    <link href="~/wwwroot/css/Home.css" rel="stylesheet" />
</head>

<div class="row-home">
    <div class="column1">

        <img src="~/wwwroot/img/brand/Checker.png" class="img-home">
    </div>
    <div class="column2">
        <h2>Column 2</h2>
        <p>Some text..</p>
    </div>
</div>